.chat-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  width: 50%;
  height: 80vh;
  border: 3px solid rgb(204, 60, 84);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.messager-container {
  width: 20%;
  height: 80vh;
  border: 3px solid rgb(204, 60, 84);
}

.input-box {
  width: 100%;
  display: flex;
}

.content-box {
  margin-top: 40px;
  width: 95%;
  height: 80%;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  overflow-x: scroll;
}

.input-box input {
  margin: 0px 16px;
  width: 85%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input-box button {
  padding: 0px 10px;
  border-radius: 10px;
  width: 60px;
  margin-bottom: 10px;
  background-color: rgb(204, 60, 84);
  font-size: 18px;
}

.receiver {
  float: right;
}

.message-box {
  height: 42px;
  display: flex;
  margin: 10px 0 5px 0;
}

.message {
  display: inline-block;
  margin: 0px 5px;
}

.message-box.right {
  justify-content: end;
  margin: 10px auto;
}

.message-content-box {
  margin: 12px 10px;

  min-width: 50px;
  min-height: 50px;
  max-width: 120px;
  background-color: rgba(66, 66, 88, 0.948);
  border-radius: 20px;
  padding: 4px 10px;
  overflow: scroll;
}

.message-box p {
  color: white;
}

.message-content-box.right {
  background-color: rgba(172, 36, 59, 0.824);
}

.right {
  justify-content: end;
}

.messengers {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.messager-title {
  width: 100%;
  text-align: center;
  background-color: rgba(204, 60, 84, 0.9);
  padding: 10px;
}
